@{
    ViewBag.Title = "About";
    ViewBag.About = "active";
}
<div class="first-widget parallax" id="about">
    <div class="parallax-overlay">
        <div class="container pageTitle">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h2 class="page-title">About</h2>
                </div> <!-- /.col-md-6 -->
                <div class="col-md-6 col-sm-6 text-right">
                    <span class="page-location">Home / About</span>
                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.parallax-overlay -->
</div> <!-- /.pageTitle -->

<div class="container">
<div class="row">

    <div class="col-md-8 blog-posts">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-wrapper">
                    <h3>Get In Touch With Us</h3>
                    <p>Nihil, aperiam, ad molestiae ut enim reprehenderit rem repudiandae ducimus dolorum obcaecati rerum accusamus provident atque eos cum. Reiciendis, modi, sint, vel, eligendi veniam esse qui quasi voluptas recusandae eum accusamus error animi expedita amet rem ad quos.</p>

                </div> <!-- /.contact-wrapper -->
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
        <div class="row">
            <section class="light-content our-team">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-header">
                                <h2 class="section-title">Meet our happy staff</h2>
                                <p class="section-desc">Medigo is the automated way to keep track of what everyone is working on.</p>
                            </div>
                            <!-- /.section-header -->
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
                <div class="team-members">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="thumb-post">
                                        <img src="/img/includes/member1.jpg" alt="">
                                        <span class="member-role">Marketing Manager</span>
                                    </div>
                                    <div class="member-content">
                                        <h4 class="member-name">Amy Groovy</h4>
                                        <p>Duis vitae consequat neque. Nulla pharetra eleifend nulla. </p>
                                    </div>
                                </div>
                                <!-- /.team-member -->
                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="thumb-post">
                                        <img src="/img/includes/member2.jpg" alt="">
                                        <span class="member-role">Web Developer</span>
                                    </div>
                                    <div class="member-content">
                                        <h4 class="member-name">Candy Sharp</h4>
                                        <p>Duis vitae consequat neque. Nulla pharetra eleifend nulla. </p>
                                    </div>
                                </div>
                                <!-- /.team-member -->
                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-4 col-sm-4">
                                <div class="team-member">
                                    <div class="thumb-post">
                                        <img src="/img/includes/member3.jpg" alt="">
                                        <span class="member-role">Graphic Designer</span>
                                    </div>
                                    <div class="member-content">
                                        <h4 class="member-name">Linda Master</h4>
                                        <p>Duis vitae consequat neque. Nulla pharetra eleifend nulla. </p>
                                    </div>
                                </div>
                                <!-- /.team-member -->
                            </div>
                            <!-- /.col-md-4 -->

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.team-members -->
            </section>
            <!-- /.our-team -->
        </div> <!-- /.row -->
    </div> <!-- /.col-md-8 -->
</div>
</div>

      